/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el encabezado */
header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff; /* Color de fondo de los artículos */
    border-radius: 5px; /* Bordes redondeados */
}

article h2 {
    color: #333; /* Color del título del artículo */
}

article p {
    color: #555; /* Color del texto del artículo */
    margin-bottom: 0;
}

